<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MoviPilot</title>
    <link rel="icon" type="image/png" href="templates/logo favicon.png">
    <link rel="stylesheet" href="templates/css/homepage.css?v=1">
</head>
<body>
    
<div class="home-background">

    <div class="ambient-glow glow-one"></div>
    <div class="ambient-glow glow-two"></div>
    <div class="ambient-glow glow-three"></div>

    <canvas id="particleCanvas"></canvas>

    <div class="light-streak streak-one"></div>
    <div class="light-streak streak-two"></div>

    <div class="cinematic-overlay"></div>

</div>

<header>

    <h1> MoviPilot</h1>

    <div class="search-container">

        <form action="/homepage" method="GET">

            <input
                type="text"
                name="q"
                placeholder="Search for a movie..."
                required
            >

            <button type="submit">
                Search
            </button>

        </form>

    </div>

</header>


<main>

    <h2>{{ .PageTitle }}</h2>

    <div class="movie-grid">

        {{ range .Movies }}

        <a
            href="/movie?id={{ .ID }}"
            class="movie-link"
        >

            <div class="movie-card">

                {{ if .PosterURL }}

                    <img
                        src="{{ .PosterURL }}"
                        alt="{{ .Title }}"
                    >

                {{ else }}

                    <img
                        src="https://placeholder.com"
                        alt="No Poster Available"
                    >

                {{ end }}


                <div class="movie-info">

                    <p class="movie-title">
                        {{ .Title }}
                    </p>


                    <div class="movie-meta">

                        <span>
                            {{ .ReleaseDate }}
                        </span>

                        |

                        <span class="rating">
                            ⭐ {{ printf "%.1f" .Rating }}
                        </span>

                    </div>


                    <p class="overview">
                        {{ .Overview }}
                    </p>

                </div>

            </div>

        </a>

        {{ else }}

            <p>No movies found. Try another search!</p>

        {{ end }}

    </div>

</main>


<script src="/templates/js/homepage_bg.js"></script>



</body>
</html>
