<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>MoviPilot</title>
    <link rel="icon" type="image/png" href="templates/logo favicon.png">
    <link rel="stylesheet" href="templates/css/splash.css?v=1">
</head>
<body>

 <div class="splash-background">
    <div class="gradient gradient-one"></div>
    <div class="gradient gradient-two"></div>
    <div class="gradient gradient-three"></div>

    <canvas id="particleCanvas"></canvas>

    <div class="background-vignette"></div>
</div>

<div class="splash-content">
      <div class="intro-container">
    <div class="intro-content">
      <img class="logo" src="img/logo favicon.png" alt="MoviPilot Logo">
      <label class="text">Movi<mark>Pilot</mark></label>
    </div>
  </div>
</div>
<script src="/templates/js/splash_bg.js"></script>
  <script>
    setTimeout(() => {
        window.location.href = "/homepage";
    }, 2300);
  </script>

</body>
</html>
